@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-red: #CE2626; /* Header */
    --color-blue: #7DAACB;
    --color-grey: #BFC9D1;
}

/* Styles order 
    1.- Dimenciones
    2.- Modelo de caja
    3.- Background
    4.- Posicionamiento (Display) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_tablero {
    display: flex;
    flex-direction: column;
}
.main_tablero-fila{
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.main_tablero-fila > .celda {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-grey);
    border-radius: 20px;
    text-align: center;
    font-size: large;
}
.main_teclado {
    width: 280px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}
.main_teclado > .tecla {
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_teclado > .teclaNumero {
    width: 50px;
    height: 50px;
    background-color: var(--color-grey);
}
.main_teclado > .tecla p {
    font-size: medium;
}
.main_teclado > .tecla-borrar {
    background-color: var(--color-red);
}
.main_teclado > .tecla-enviar {
    background-color: var(--color-blue);
}
.tecla-accion {
    width: 120px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: white;
}